:sass
  .litter
    margin-bottom: 50px
    text-align: center
    h1
      font-size: 320%
      font-weight: 100
      font-family: BleedingCowboys
      a
        text-decoration: none
        color: #fff
    h3
      padding: 15px
- @litters.each do |litter|
  .litter 
    %h1
      - if litter.dogs.count.zero?
        Litter 
        %big= litter.litter_sym
      - else
        = link_to litter, title: t("Show all pets") do
          Litter 
          %big= litter.litter_sym
    %h2
      = l litter.date_of_birth
    - unless litter.dogs.count.zero?
      %h3
        = litter.pets_count_for_sale
    - if litter.dogs.count.zero?
      = image_tag litter.banner.url :medium
    - else
      = link_to litter, title: t("Show all pets")  do
        = image_tag litter.banner.url :medium
    .clear
      = link_to t('More details'), litter
    - if can? :manage, Dog
      |
      = link_to t('Edit'), edit_litter_path(litter)
      |
      = link_to t('Destroy'), litter, :method => :delete, :data => { :confirm => 'Are you sure?' }

-# if can? :manage, Dog
  =# link_to 'New Litter', new_litter_path
