= form_for(@dog, :html => { :multipart => true }) do |f|
  - if @dog.errors.any?
    #error_explanation
      %h2
        = pluralize(@dog.errors.count, "error")
        prohibited this dog from being saved:
      %ul
        - @dog.errors.full_messages.each do |msg|
          %li= msg
  .field
    = f.label :url
    %br/
    = f.text_field :url
  .field
    = f.label :name
    %br/
    = f.text_field :name
  .field
    = f.label :fullname
    %br/
    = f.text_field :fullname
  .field
    = f.label :pedigree
    %br/
    = f.text_field :pedigree
  .field
    = f.check_box :male
    = f.label :male
    %br/
  .field
    = f.check_box :for_sale
    = f.label :for_sale
    %br/
  .field
    = f.check_box :for_love
    = f.label :for_love
    %br/
  .field
    = f.check_box :from_us
    = f.label :from_us
    %br/
  .field
    = f.check_box :in_kennel
    = f.label :in_kennel
    %br/
  .field
    = f.label :litter_sym
    %br/
    = f.text_field :litter_sym
  .field
    = f.label :date_of_birth
    %br/
    = f.date_select :date_of_birth
  .field
    = f.label :avatar
    = f.file_field :avatar
  .field
    = f.label :sort_index
    %br/
    = f.text_field :sort_index
  .field
    = f.label :desc
    %br/
    = f.text_area :desc, :class => :small
  .field
    = f.label :medical_tests
    %br/
    = f.text_area :medical_tests, :class => :small
  .field
    = f.label :trophies
    %br/
    = f.text_area :trophies, :class => :small
  .field
    = f.check_box :disabled
    = f.label :disabled
    %br/
  .field
    = file_field_tag "images[]", type: :file, multiple: true
  .field
    = f.label :owner_desc
    \:
    %br/
    = f.text_area :owner_desc, :class => "small"
  .actions
    = f.submit t("Save")
