<h1>Listing dogs</h1>

<table>
  <tr>
    <th>Url</th>
    <th>Name</th>
    <th>Fullname</th>
    <th>Male</th>
    <th>For sale</th>
    <th>For love</th>
    <th>From us</th>
    <th>Date of birth</th>
    <th>Desc</th>
    <th>Pedigree</th>
    <th>Disabled</th>
    <th>Owner desc</th>
    <th></th>
    <th></th>
    <th></th>
  </tr>

<% @dogs.each do |dog| %>
  <tr>
    <td><%= dog.url %></td>
    <td><%= dog.name %></td>
    <td><%= dog.fullname %></td>
    <td><%= dog.male %></td>
    <td><%= dog.for_sale %></td>
    <td><%= dog.for_love %></td>
    <td><%= dog.from_us %></td>
    <td><%= dog.date_of_birth %></td>
    <td><%= dog.desc %></td>
    <td><%= dog.pedigree %></td>
    <td><%= dog.disabled %></td>
    <td><%= dog.owner_desc %></td>
    <td><%= link_to 'Show', dog %></td>
    <td><%= link_to 'Edit', edit_dog_path(dog) %></td>
    <td><%= link_to 'Destroy', dog, method: :delete, data: { confirm: 'Are you sure?' } %></td>
  </tr>
<% end %>
</table>

<br />

<%= link_to t('Add dog'), new_dog_path %>
