- if can? :manage, Dog
  .manage_options
    = link_to t('Add dog'), new_dog_path
    -if params[:show_hidden]
      = link_to t("Showed dogs"), dogs_path
      /
      = t "Hidden dogs"
    -else
      = t "Showed dogs"
      /
      = link_to t("Hidden dogs"), dogs_path(:show_hidden => true)


.dogs_list
  - @dogs.each do |dog|
    .dog
      .avatar.unit.w-golden-small.float_l
        = image_tag dog.avatar(:medium)
      .desc.unit.w-golden-large.float_l
        .dog_title
          = link_to dog do
            %h1= dog.fullname
        .dog_desc
          %em
            = succeed "," do
              = dog.name
            = succeed "," do
              = t dog.sex.downcase
            = succeed "," do
              = l dog.date_of_birth, :format => :date
            = link_to t("pedigree"), dog.pedigree
            - if can? :manage, Dog
              ,[
              - if dog.for_sale
                = t "sale"
              - else
                = t "don't sale"
              ]

          - if can? :manage, Dog
            .actions
              = link_to t('Add photo'), new_photo_path(:photo => { :dog_ids => { "" => dog.id } })
              |
              = link_to t('Edit'), edit_dog_path(dog)
              |
              = link_to t('Destroy'), dog, confirm: t('Are you sure?'), method: :delete
              |
              - if dog.disabled
                = link_to t('Publish dog'), enable_dog_path(dog) 
              -else
                = link_to t('Hide dog'), disable_dog_path(dog) 
              |
              = link_to t('Back'), dogs_path
      .clear



- if can? :manage, Dog
  =# link_to t('Add dog'), new_dog_path
