<p id="notice"><%= notice %></p>

<h1><%= @dog.fullname %></h1>
<div class="w-golden-small float_l">
<h3>
<hgroup>
  <%= @dog.name %>, 
  <%= t @dog.sex %>, 
  <%=  l @dog.date_of_birth, :format => :date %>,
  <%= link_to t("pedigree"), @dog.pedigree %>
  <% if can? :manage, Dog %>
    ,[ 
    <% if @dog.for_sale  %>
      <%= t "sale" %>
    <% else %>
      <%= t "don't sale" %>
    <% end %>
    ]
  <% end %>
</h3>
</hgroup>

<p>
  <%= @dog.desc %>
</p>
<% if @dog.owner_desc  %>
<p>
<b><%= t "Owner desc" %>:</b>
  <%= @dog.owner_desc %>
</p>
<% end %>

<%= link_to t('Add photo'), new_photo_path(:photo => { :dog_ids => { "" => @dog.id } }) %> |

<%= link_to t('Edit'), edit_dog_path(@dog) %> |
<%= link_to t('Back'), dogs_path %>

</div>
<div class="w-golden-large float_r">
</div>


<% if false %>
  <% content_for :option_content do %>
    <%  render 'photos/galery', photos: @dog.photos %>
  <% end %>
<% end %>
