<p id="notice"><%= notice %></p>

<hgroup>
<h1>
  <%= @dog.fullname %>
</h1>
<h3>
  <%= @dog.name %>, 
  <%= t @dog.sex %>, 
  <%=  t distance_of_time_in_words_to_now @dog.date_of_birth %>,
  <%= link_to t("pedigree"), @dog.pedigree %>
</h3>
</hgroup>
  <% if @dog.for_sale  %>
    <%= t "sale" %>
  <% else %>
    <%= t "don't sale" %>
  <% end %>

<p>
  <%= @dog.desc %>
</p>

<% if @dog.owner_desc  %>
<p>
<b><%= t "Owner desc" %>:</b>
  <%= @dog.owner_desc %>
</p>
<% end %>

<%= link_to t('Add photo'), new_photo_path(:photo => { :dog_ids => { "" => @dog.id } }) %> |

<%= link_to t('Edit'), edit_dog_path(@dog) %> |
<%= link_to t('Back'), dogs_path %>
