.dog.w-1-4.float_l.dog_page_item{class: "#{@dog.male? ? "blue":"pink"}"}
  .avatar
    = image_tag @dog.avatar(:medium)
    %h1= @dog.fullname
  .desc
    .dog_desc
      %em
        = succeed "," do
          = @dog.name
        = succeed "," do
          = t @dog.sex.downcase
        = succeed "," do
          = l @dog.date_of_birth, :format => :date
        = link_to t("pedigree"), @dog.pedigree
        - if can? :manage, Dog
          ,[
          - if @dog.for_sale
            = t "sale"
          - else
            = t "don't sale"
          ]
      %p
        = @dog.desc
      - unless @dog.owner_desc.blank?
        %p
          %b
            = t "Owner desc"
            \:
          = @dog.owner_desc
      - if can? :manage, Dog
        .actions
          = link_to t('Add photo'), new_photo_path(:photo => { :dog_ids => { "" => @dog.id } })
          |
          = link_to t('Edit'), edit_dog_path(@dog)
          |
          = link_to t('Back'), dogs_path

= render 'photos/galery', photos: @dog.photos
