<h1><%= t :Listing_articles %></h1>


<% if can? :manage, Article %>
	<% if params.count == 2 %>
		<b class="selected_option"><%= t 'Published' %></b>
	<% else %>
		<%= link_to t('Published'), articles_path %>
	<% end %> |

	<% if params[:unpublished] %>
		<b class="selected_option"><%= t 'Unpublished' %></b>
	<% else %>
		<%= link_to t('Unpublished'), articles_path( :unpublished => true ) %>
	<% end %>
<% end %>


<table>
  <tr>
		<th><%= t :User %></th>
		<% if false %>
			<th><%= t :Url %></th>
		<% end %>
		<th><%= t :Title %></th>
		<th><%= t :Section %></th>
		<% if false %>
			<th><%= t :Short_text %></th>
			<th><%= t :Text %></th>
		<% end %>
			<th><%= t :Published %></th>
    <th></th>
    <th></th>
    <th></th>
  </tr>

<% @articles.each do |article| %>
  <tr>
    <td><%= article.user.login %></td>
		<% if false %>
			<td><%= article.url %></td>
		<% end %>
    <td><%= link_to article.title, article %></td>
    <td><%= article.section %></td>
		<% if false %>
			<td><%= article.short_text %></td>
			<td><%= article.text %></td>
		<% end %>
			<td><%= article.published %></td>
			<td>
			<% if can? :manage, Article %>
				<%= link_to t('Show'), article %> |
				<%= link_to t('Edit'), edit_article_path(article) %> |
	<%=	link_to_if( article.published, t('Unpublish'), unpublish_article_path(article) ) do
			  link_to t('Publish'), publish_article_path(article)
			end %> 
			<% end %>
		</td>
  </tr>
<% end %>
</table>

<br />

<% if can? :create, Article %>
<%= link_to t('New article'), new_article_path %>
<% end %>
<% if false %>
    <td><%= link_to t('Destroy'), article, confirm: t('Are you sure?'), method: :delete %></td>
<% end %>
