<h1><%= t :Listing_articles %></h1>

<table>
  <tr>
		<th><%= t :User %></th>
		<% if false %>
			<th><%= t :Url %></th>
		<% end %>
		<th><%= t :Title %></th>
		<th><%= t :Section %></th>
		<% if false %>
			<th><%= t :Short_text %></th>
			<th><%= t :Text %></th>
		<% end %>
			<th><%= t :Disabled %></th>
    <th></th>
    <th></th>
    <th></th>
  </tr>

<% @articles.each do |article| %>
  <tr>
    <td><%= article.user.login %></td>
		<% if false %>
			<td><%= article.url %></td>
		<% end %>
    <td><%= link_to article.title, article %></td>
    <td><%= article.section %></td>
		<% if false %>
			<td><%= article.short_text %></td>
			<td><%= article.text %></td>
		<% end %>
			<td><%= article.disabled %></td>
    <td><%= link_to t('Show'), article %></td>
    <td><%= link_to t('Edit'), edit_article_path(article) %></td>
    <td><%= link_to t('Destroy'), article, confirm: t('Are you sure?'), method: :delete %></td>
  </tr>
<% end %>
</table>

<br />

<%= link_to t('New_article'), new_article_path %>
