<p id="notice"><%= notice %></p>
<% if false %>
<h1><%= @article.title %></h1>
<div>
	<b><%= @article.user.name %></b> | <%= l @article.created_at %>
</div>
<% end %>
<% if false %>
<p>
  <b>Url:</b>
  <%= @article.url %>
</p>
<p>
  <b>Section:</b>
  <%= @article.section %>
</p>
<p>
  <b>Short text:</b>
  <%= @article.short_text %>
</p>
<% end %>

<p>
  <%= @article.text.html_safe %>
</p>
<div class="clear"></div>

<% if can? :manage, Article %>
	<%= link_to t('Edit'), edit_article_path(@article) %> |
	<%=	link_to_if( @article.published, t('Unpublish'), unpublish_article_path(@article) ) do
			  link_to t('Publish'), publish_article_path(@article)
			end %> |

<% end %>
<%= link_to t('Back'), articles_path %> 
