<p id="notice"><%= notice %></p>
<h1><%= @article.title %></h1>
<div>
	<b><%= @article.user.name %></b> | <%= l @article.created_at %>
</div>
<% if false %>
<p>
  <b>Url:</b>
  <%= @article.url %>
</p>
<p>
  <b>Section:</b>
  <%= @article.section %>
</p>
<p>
  <b>Short text:</b>
  <%= @article.short_text %>
</p>
<% end %>

<p>
  <%= @article.text.html_safe %>
</p>


<%= link_to t('Edit'), edit_article_path(@article) %> |
<%= link_to t('Back'), articles_path %>
