<h1><%= t 'Listing banners' %></h1>

<table>
  <tr>
		<th><%= t 'Target url' %></th>
    <th><%= t 'Title' %></th>
    <th><%= t 'Content' %></th>
    <th><%= t 'Disabled' %></th>
    <th></th>
  </tr>

<% @banners.each do |banner| %>
  <tr>
    <td><%= banner.target_url %></td>
    <td><%= banner.title %></td>
    <td><%= banner.content %></td>
    <td><%= banner.disabled %></td>
		<td>
<% if can? :manage, Banner %>
			<%= link_to 'Show', banner %>
    <%= link_to t('Edit'), edit_banner_path(banner) %>
    <%=	link_to_if( banner.disabled, t('Enable'), enable_banner_path(banner) ) do
			  link_to t('Disable'), disable_banner_path(banner)
		end %> 
<% end %>
	</td>

  </tr>
<% end %>
</table>

<br />

<%= link_to t('New Banner'), new_banner_path %>
