<h1><%= t 'Listing banners' %></h1>

<table>
  <tr>
    <th>Target url</th>
    <th>Title</th>
    <th>Content</th>
    <th>Published</th>
    <th></th>
    <th></th>
    <th></th>
  </tr>

<% @banners.each do |banner| %>
  <tr>
    <td><%= banner.target_url %></td>
    <td><%= banner.title %></td>
    <td><%= banner.content %></td>
    <td><%= banner.published %></td>
    <td><%= link_to 'Show', banner %></td>
    <td><%= link_to 'Edit', edit_banner_path(banner) %></td>
    <td><%= link_to 'Destroy', banner, method: :delete, data: { confirm: 'Are you sure?' } %></td>
  </tr>
<% end %>
</table>

<br />

<%= link_to t('New Banner'), new_banner_path %>
