<p id="notice"><%= notice %></p>

<p>
<b><%= t 'Banner_type' %>:</b>
  <%= @banner.banner_type%>
</p>

<p>
<b><%= t 'Target url' %>:</b>
  <%= @banner.target_url %>
</p>

<p>
<b><%= t 'Title' %>:</b>
  <%= @banner.title %>
</p>

<p>
<b><%= t 'Content' %>:</b>
  <%= @banner.content %>
</p>

<p>
<b><%= t 'Disabled' %>:</b>
  <%= @banner.disabled %>
</p>


<% if can? :manage, Banner %>
<%= link_to t('Edit'), edit_banner_path(@banner) %> |
	<%=	link_to_if( @banner.disabled, t('Enable'), enable_banner_path(@banner) ) do
			  link_to t('Disable'), disable_banner_path(@banner)
			end %> |
<% end %>

<%= link_to 'Back', banners_path %>
