<h1><%= t :Listing_users %></h1>
<%=  %>
<%=  %>

<%= link_to t('Show disabled'), users_path( :disabled => true ) if ! params[:disabled] %>
<%= link_to t('Show only enabled'), users_path if params[:disabled] %>
<table>
  <tr>
		<th><%= :login%></th>
		<th><%= t(:email) %></th>
		<th><%= Russian::t :Name %></th>
    <th>Disabled</th>
    <th></th>
    <th></th>
    <th></th>
  </tr>

<% @users.each do |user| %>
  <tr>
    <td><%= user.login %></td>
    <td><%= user.email %></td>
    <td><%= user.name %></td>
		<td><%= user.disabled %></td>
    <td><%= link_to t('Show'), user %></td>
    <td><%= link_to t('Edit'), edit_user_path(user) %></td>
		<td>
	<%=	link_to_if( user.disabled, t('Enable'), enable_user_path(user) ) do
			  link_to t('Disable'), disable_user_path(user)
			end%>
		</td>
  </tr>
<% end %>
</table>

<br />

<%= link_to t('New User'), new_user_path %>
