<h1><%= t "Recovery password" %></h1>
<p id="alert"><%= alert %></p>
<p id="alert"><%= flash[:error] %></p>
<%= form_tag "/recovery_passwd" do %>
  <div class="field">
    <%= label_tag :email %><br />
		<%= text_field_tag :email %><br />
  </div>
  <div class="actions">
    <%= submit_tag t("Send")%>
  </div>
<p><%= t "New password will be sent to the specified e-mail." %></p>
<% end %>
