<p id="notice"><%= notice %></p>

<p>
  <b>Login:</b>
  <%= @user.login %>
</p>

<p>
  <b>Email:</b>
  <%= @user.email %>
</p>

<p>
<b><%= t :Name %>:</b>
  <%= @user.name %>
</p>

<p>
  <b>Active:</b>
  <%= @user.active %>
</p>

<p>
<b><%= t :roles %>:</b><ul>
  <% @user.roles.each do |role| %>
		<li><%= role %>
	<% end %></ul>
</p>

<p>
<b><%= t "Login count" %>:</b>
  <%= @user.login_count %>
</p>
<p>
<b><%= t "Failed login count" %>:</b>
  <%= @user.failed_login_count %>
</p>
<p>
<b><%= t "Last request at" %>:</b>
<% if @user.last_request_at %>
<%= l @user.last_request_at, :format => :datetime %>
<% else %>
	-
<% end %>
</p>
<p>
<b><%= t "Current login at" %>:</b>
<% if @user.current_login_at %>
  <%= @user.current_login_at %>
<% else %>
	-
<% end %>
</p>
<p>
  <b><%= t "Last login at" %>:</b>
<% if @user.last_login_at %>
  <%= @user.last_login_at %>
<% else %>
	-
<% end %>
</p>
<p>
  <b><%= t "Current login ip" %>:</b>
  <%= @user.current_login_ip %>
</p>
<p>
  <b><%= t "Last login ip" %>:</b>
  <%= @user.last_login_ip %>
</p>

<%= link_to_if( @user.active, t('Disable'), user_path(@user, 'user[active]' => false), {:method => :put}) do
			link_to t('Enable'), user_path(@user, 'user[active]' => true), :method => :put
end
 %> |
<%= link_to t('Edit'), edit_user_path(@user) %> |
<%= link_to t('Back'), users_path %>
