= form_for(@photo, :html => { :multipart => true }) do |f|
  - if @photo.errors.any?
    #error_explanation
      %h2
        = pluralize(@photo.errors.count, "error")
        prohibited this photo from being saved:
      %ul
        - @photo.errors.full_messages.each do |msg|
          %li= msg
  .field
    = f.file_field :image
  %br/
  #list_of_dogs.field
    = f.label :dogs
    \:
    %span#list_dog_ids
      - @photo.dogs.each do |dog|
        = link_to dog.name, "", :class => :delete_dog_id, :for => dog.id
        = hidden_field_tag "photo[dog_ids][]", dog.id, :class => "dog_id"
    %br/
    = autocomplete_field_tag :dog_name, '', autocomplete_dog_name_photos_path, :dogs_of => "photo"
  .field
    = f.check_box :only_for_pets_album
    = f.label :only_for_pets_album
  .field
    = f.check_box :disabled
    = f.label :disabled
    %br/
  .field
    = f.label :index_of_order
    %br/
    = f.number_field :index_of_order
  .actions
    = f.submit t("Save")
