<style>
  header{
    background:#fff;
  }
  html, body{
    background: url(<%= asset_path "whitewood.jpg" %>) repeat #555;
  }
  .content_background{
    background:#fff;
  }
  .galery{
    border-top:5px solid #aaa;
  }
</style>

<div class="galery">
<% photos.each do |photo| %>
  <%= link_to photo_path(photo), :class => :thumbnail do %>
      <div class="polaroid <%= photo.orientation %> rotate_<%= rand 6 %> float_l">
        <%= image_tag photo.image.url(:medium), :title => (photo.dogs.each{ |d| "AAAAAAAAAA #{d.name}" } )%>
      </div>
<% end %>
<% end %>
</div>

<div class="clear"></div>
