<style>
  .content{
    width:100%;
  }
  .thumbnail{
    display: -moz-inline-box;
    display: inline-block;
    margin:5px;
  }
  .gallery{
    text-align:center;
    width:100%;
    padding:20px 0;
  }
</style>

<div class="gallery">
<% @photos.each do |photo| %>
  <%= link_to photo_path(photo), :class => :thumbnail do %>
      <div class="polaroid <%= photo.orientation %> rotate_<%= rand 6 %> float_l">
        <%= image_tag photo.image.url(:medium), :title => (photo.dogs.each{ |d| "AAAAAAAAAA #{d.name}" } )%>
      </div>
<% end %>
<% end %>
</div>

<div class="clear"></div>
<%= link_to 'New Photo', new_photo_path %>
