<%= form_for @user_session, :url => :login do |f| %>
  <% if @user_session.errors.any? %>
  <div id="error_explanation">
    <h2><%= pluralize(@user_session.errors.count, "error") %> prohibited:</h2>
    <ul>
      <% @user_session.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
    </ul>
  </div>
  <% end %>
  <%= f.label t :Login_or_email %><br />
  <%= f.text_field :login %><br />
  <br />
  <%= f.label t :password %><br />
  <%= f.password_field :password %><br />
  <br />
  <%= f.submit t "login" %>
	<%= link_to t("Forgot password?"), :recovery_passwd %>
	<%= link_to t("Signup"), :singup %>
<% end %>
