<!DOCTYPE html>
<html>
<head>
	<title><%= yield :title %> Aleksa's house</title>
	<meta name="keywords" content="Питомник китайских хохлатых беларусь">
	<META NAME="description" CONTENT="Питомник китайских хохлатых Aleksa's house">
  <%= stylesheet_link_tag    "application" %>
  <%= javascript_include_tag "application" %>
  <%= csrf_meta_tags %>
</head>
<body>
	<header>
	 <div class="header-wrapper">
		<div class="logo">
			<hgroup>
			<h1>Aleksa's House</h1>
			<h2>питомник китайских хохлатых собачек</h2>
			</hgroup>
		</div>
		<nav class="main">
		<ul>
		<!--<li><a href="blog">Блог</a></li>
		<li><a href="blog">Собаки питомника</a></li>
    -->
    <li><a href="/">Щенки</a></li>
    <li><a href="/articles/about">О питомнике</a></li>
		</ul>
		</nav>
		</div>
	</header>

	<div class="content">

  <p id="alert"><%= alert %></p>
  <p id="notice"><%= notice %></p>
  <%= yield %>

	</div>
  
  <!--
	<%  image_tag asset_path("handh.jpg"), :class => :main %>
	<div class="sub-content">

		<div class="my_width">
			<article>
			</article>
		</div>
	</div>
  -->

		<footer>
		<div>
      <h1>Монопородный питомник китайских хохлатых собачек
        «Aleksa's House»</h1>	
    <p>Cвидетельство БКО №770/2010(48/10)</p> 
		<p>Velcom: +375 29 692-32-33</p>	
		<p>MTC: +375 29 692-32-33</p>	
		<p>aleksashouse@gmail.com</p>	
    <p>Брест 2013 ©</p>
		</div>
		</footer>
</body>
</html>
