!!!
%html
  %head
    %title Maximum Staff
    %meta{:content => "Питомник американских стаффордширских терьеров беларусь", :name => "keywords"}/
    %meta{:content => "Питомник американских стаффордширских терьеров Maximum Staff", :name => "description"}/
    = stylesheet_link_tag    "application"
    = javascript_include_tag "application"
    = csrf_meta_tags
  %body
    %header
      .main.banner
        -if request.fullpath == url_for(:root)
          %hgroup.logo{title: "Питомник Американских Стаффордширских Терьеров"}
            %h1.s_unit.slabtext Maximum&nbsp;Staff
        -else
          =link_to :root, class: :logo do
            %hgroup.logo{title: "Питомник Американских Стаффордширских Терьеров"}
              %h1.s_unit.slabtext Maximum&nbsp;Staff
        = image_tag "main_small.jpg"
        %nav.menu.s_unit
          .wrap
            = link_to t(:Main), :root
            = link_to t(:About_us), "/about_maximum_staff"
            = link_to t(:Males), "/male"
            = link_to t(:Females) ,"/female"
            = link_to t(:Graduates), "/by_maximum_staff"
            = link_to t(:Puppies), "/pets", class: :blink
            = link_to t(:Links), "/links"
            = link_to t(:Contacts), "/contacts"
        .clear
        .lang_panel
          - if  I18n.locale == :ru
            RU
          - else
            %a{href: "http://maximum-staff.com"} RUS
          |
          - if  I18n.locale == :en
            ENG
          -else
            %a{href: "http://en.maximum-staff.com"} ENG



      .container
        %hgroup.logo
          /%h1 Maximum Staff
          /%h2 питомник американских стаффордширских терьеров
        - if false
          %nav
          /
            <li><a href="blog">Блог</a></li>
            <li><a href="blog">Собаки питомника</a></li>
          %a{:href => "/"} Щенки
          / <a href="/">Поиск</a>
          %a{:href => "/articles/about_us"} О питомнике
          / <a href="/">Связь</a>
        /
    .clear.after_header
    .notification
      %p#notice= notice
      %p#alert= alert
    = yield :custom_content
    - unless yield.blank?
      .content_wrap
        .content
          = yield   
    .clear

<!--************CODE GEOCOUNTER************-->
<script type="text/javascript" src="http://geoloc11.whoaremyfriends.net/private/geocounter.js?compte=310765942897"></script>
<noscript>
<a href="http://www.geovisites.com/zoom.php?compte=310765942897"  target="_blank"><img src="http://geoloc11.whoaremyfriends.net/private/geocounter.php?compte=310765942897" border="0" alt="website hits counter"></a>

<br>Please do not change this code for a perfect fonctionality of your counter
<a href="http://www.geovisite.com/">website hits counter</a>
</noscript>
<br><a href="http://www.geovisite.com/en/">hit counter</a>
<!--************END CODE GEOCOUNTER************-->
