!!!
%html
  %head
    %title Maximum Staff
    %meta{:content => "Питомник американских стаффордширских терьеров беларусь", :name => "keywords"}/
    %meta{:content => "Питомник американских стаффордширских терьеров Maximum Staff", :name => "description"}/
    = stylesheet_link_tag    "application"
    = javascript_include_tag "application"
    = csrf_meta_tags
  %body
    %header
      .main.banner
        -if request.fullpath == url_for(:root)
          %hgroup.logo{title: "Питомник Американских Стаффордширских Терьеров"}
            %h1.s_unit.slabtext Maximum&nbsp;Staff
        -else
          =link_to :root, class: :logo do
            %hgroup.logo{title: "Питомник Американских Стаффордширских Терьеров"}
              %h1.s_unit.slabtext Maximum&nbsp;Staff
        = image_tag "main_small.jpg"
        %nav.menu.s_unit
          .wrap
            %a{href: "/"} Главная
            %a{href: "/about_maximum_staff"} О питомнике
            %a{href: "/news"} Новости
            %a{href: "/male"} Кобели
            %a{href: "/female"} Суки
            %a{href: "/by_maximum_staff"} Выпускники
            %a{href: "/pets"} Щенки
            %a{href: "/links"} Ссылки
            %a{href: "/contacts"} Контакт
        .clear



      .container
        %hgroup.logo
          /%h1 Maximum Staff
          /%h2 питомник американских стаффордширских терьеров
        - if false
          %nav
          /
            <li><a href="blog">Блог</a></li>
            <li><a href="blog">Собаки питомника</a></li>
          %a{:href => "/"} Щенки
          / <a href="/">Поиск</a>
          %a{:href => "/articles/about_us"} О питомнике
          / <a href="/">Связь</a>
        /
    - if false
      .dog_banner
        .img_container
          = image_tag asset_path("a1.jpg")
        %h3
          Artemon Cutrapali
    .clear.after_header
    .notification
      %p#notice= notice
      %p#alert= alert
    = yield :custom_content
    - unless yield.blank?
      .content_wrap
        .content
          = yield   
    .clear
<!--************CODE GEOCOUNTER************-->
<script type="text/javascript" src="http://geoloc15.whoaremyfriends.net/private/geocounter.js?compte=668278262079"></script>
<noscript>
<a href="http://www.geovisites.com/zoom.php?compte=668278262079"  target="_blank"><img src="http://geoloc15.whoaremyfriends.net/private/geocounter.php?compte=668278262079" border="0" alt="hit counter"></a>

<br>Please do not change this code for a perfect fonctionality of your counter
<a href="http://www.geovisite.com/">hit counter</a>
</noscript>
<br><a href="http://www.geovisite.com/en/">free hit counters</a>
<!--************END CODE GEOCOUNTER************-->
